<!DOCTYPE html>
<!-- vi: set ts=2 sts=2 sw=2 et: -->
<html lang="en">
  <head>
    <meta charSet="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>Overview of ML Backdoors</title>
    <link rel="stylesheet" href="./main.css"/>
  </head>
  <body>
    <div class="purple">
      <div class="Topbar_div">
        <nav class="Topbar_nav">
          <div class="topbar-title" style="display:flex; flex-direction: row">
            <a href="./" style="color: #bd93f9">
              Overview of ML backdoors
            </a>
          </div>
        </nav>
      </div>
      <div class="single">
        <div class="wrap"><div class="page">
          <div class="intro">
            <p>
              Welcome to this overview of existing work into backdoors in the
              ML pipeline!
            </p>
            <p>
              If you would like to suggest a modification of the diagram or a
              paper for inclusion, please email
              <a href="mailto:ml-discuss@backdoors.uk">ml-discuss@backdoors.uk</a>
              or open an Issue or Pull Request in
              <a href="https://github.com/eleanor-clifford/ml.backdoors.uk">this GitHub repository</a>
            </p>
          </div>
          <h2 style="color:#ff79c6">The ML pipeline</h2>
          <img style="width: 100%" src="./overview.svg" alt="Overview of the ML pipeline"/>
          <br>
          <h2 style="color:#50fa7b">Existing papers</h2>
          ${TABLE}
          <br>
          ${TABLE_LEGEND}
          <br>
          <p>
          <table class="noborder" style="border: 0px solid; width: 100%"><tr>
            <td><a href="https://www.srcf.net" class="nounderline">
              <img style="min-height: 48pt; padding-right:10pt" src="./srcf.svg" alt="The logo of the SRCF"></img>
            </a></td>
            <td style="text-align: center"><i>This site is hosted by the Student Run Computing Facility, and
            uses a Dracula theme</i></td>
            <td><a href="https://draculatheme.com" class="nounderline">
              <img style="min-height: 48pt; padding-left:10pt" src="./dracula.svg" alt="The logo of the Dracula theme"></img>
            </a></td>
          </tr></table>
          </p>
        </div></div>
      </div>
    </div>
  </body>
</html>
